/* styles.css */

/*
pineapples are in (5)
my head. i know i'm(7)
no sweet prince of love (5)
- snippets of lyrics from "Pork Soda" by Glass Animals */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 2rem;
	background-color: black;
	color: #22204c;
	font-size: 4.5rem;
	overflow: hidden; /* takes away scroll bar */
	background-image: url("../img/pineapples.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grid-container {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 1.5rem;
	margin: 5% 4rem 0 4rem;
}

.last {
	padding-bottom: 2rem;
	border-bottom: 2px dotted rgb(232, 232, 141);
}

div {
	transition-property: transform;
	transition-duration: 3s;
}

/* CSS Animation Example
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

body {
	animation-name: fadeOut;
	animation-duration: 2s;
}
*/